header {
    margin: 0 10%;
}

.header-container {
    background-color: #B0AB9A;
    background-image: url(../assets/kirara.png);
    background-repeat: no-repeat;
    background-position: 85% -18%;
    height: 667px;
}

.header-slogan-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 502px;
    /* height: 307px;  */
    position: relative;
    top: 75px;
    left: 140px;
}

.header-slogan-sub {
    width: 90%;
    align-self: flex-end;
    margin: 37px 0 0;
    display: flex;
    flex-direction: column;
}

.header-slogan-main {
    color: #33392E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Dosis;
    font-size: 80px;
    font-weight: 500;
    line-height: 90px;
    text-transform: uppercase;
    margin: 0;
}

.header-slogan-sub--white {
    color: #FFF;
    font-family: Dosis;
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.header-slogan-sub--yellow {
    color: #FFE2A8;
    font-family: Dancing Script;
    font-size: 35px;
    align-self: flex-end;
    margin: 0 22%;
}

.header-slogan-stars {
    width: 50px;
    position: relative;
    left: 255px;
    top: 40px;
}

.navigation-buttons-container a:link, .navigation-buttons-container a:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Exo;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;

    /* text-decoration-line: underline; */
}
.navigation-buttons-container li:hover {
    opacity: 60%;
}

.navigation-buttons-container ul {
    display: inline-flex;
    justify-content: flex-start;
    gap: 40px;
  }

.navigation-items-container {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.navigation-buttons-container {
    width: 80%;
    margin: 0 15px 0 60px;
}

.navigation-icon {
    width: 84px;
    mix-blend-mode: overlay;
}

.navigation-buttons-icon {
    width: 41px;
    mix-blend-mode: soft-light;
}

.navigation-user-buttons-container{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.navigation-user-buttons-container ul {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

.navigation-user-buttons-container li {
    padding: 5px;
}

.navigation-user-buttons-container a:hover {
    opacity: 60%;
}
