@import url('https://fonts.googleapis.com/css?family=Dosis:500|Dosis:400'); 
@import url('https://fonts.googleapis.com/css?family=Exo:600');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500');
@import url('https://fonts.googleapis.com/css?family=Jockey+One');

@import url(styles/header.css);
@import url(styles/footer.css);

body {
    margin: 0;

}

main {
    height: fit-content;
    background-color: #E5E1D4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 930px;
    align-self: center;
    position: relative;
    bottom: 100px;
}

.main-carousel {
    display: flex;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.17);
    padding: 3%;
}

.carousel-dots {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 2%;
}

.carousel-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    gap: 22px;
}

.carousel-p {
    font-size: 22px;
}

.carousel-span {
    color: #797C48;
    font-family: Dancing Script;
    font-size: 40px;
    text-transform: lowercase;
}

.tryit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 236px;
    height: 59px;
    margin-top: 5%;
    border: none;
    border-radius: 5px;
    background-color: #755A43;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tryit-button:hover {
    cursor: pointer;
    border: 3px solid #FFF;
}

.button-text {
    color: #FFF;
    font-family: Jockey One;
    font-size: 30px;
    text-transform: uppercase;
}

.main-vector {
    background-image: url(assets/main-vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 120px;
    height: 160px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 850px) {
    nav {
        display: none;
    }
  }

@media only screen and (max-width: 1339px) {
    .navigation-user-buttons-container {
        width: 100%;
    }
    .navigation-user-buttons-container ul {
        flex-direction: column;
        align-items: flex-end;
    }
  }
