@import url('https://fonts.googleapis.com/css?family=Dosis:500|Dosis:400'); 
@import url('https://fonts.googleapis.com/css?family=Exo:600');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:500');

@import url(styles/header.css);

body {
    margin: 0;
}

main {
    height: 500px; /*temporary*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container {
    height: 105px;
    border-top: 1px solid rgb(199 220 229);
    background-color: aliceblue;
    font-size: 15px;
}

.footer-credits {
    display: flex;
    align-items: flex-end;
    height: 100%;
    color: rgb(117 124 127);
}

@media only screen and (max-width: 850px) {
    nav {
        display: none;
    }
  }

@media only screen and (max-width: 1339px) {
    .navigation-user-buttons-container {
        width: 100%;
    }
    .navigation-user-buttons-container ul {
        flex-direction: column;
        align-items: flex-end;
    }
  }
